entrypoint = "README.md"
modules = ["nodejs-22", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "server:build"]
run = ["bash", "-c", "PORT=8081 npm run server:prod"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[env]
PORT = "5000"

[agent]
stack = "EXPO"
integrations = ["stripe:2.0.0", "javascript_openai_ai_integrations:2.0.0", "revenuecat:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[workflows.workflow]]
name = "Start App"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_ujejbUaLMSXGLBgQREyCkMNwUmj"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_eGrJgGTzuQlDyJTRiMiPczUDSuT"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_ALAAevcXbLPVkioULpXpsBquKKj"
JWT_SECRET = "c99a2a8202385b5156c0418fcfe64acbdfa5c16af62afdb00915b3cac6b07f3429e5aee3e561806f542109d183238dcd13e1860df5fa696c181dcd3c1d49e2ad"
ADMIN_API_KEY = "c01cc4858e0810ef965be66723204838eba400aea18e4e17d84c4d1d36104e22"
REVENUECAT_PROJECT_ID = "projdf936295"
APNS_KEY_ID = "MPT599SF5P"
APNS_TEAM_ID = "UL8MMQLGJ5"
APNS_KEY_PATH = "./apns_key.p8"
EXPO_PUBLIC_STRIPE_PRICE_MONTHLY = "price_1Sti7TCow6jut3nLEDdV6MSE"
EXPO_PUBLIC_STRIPE_PRICE_ANNUAL = "price_1Sti7SCow6jut3nL0dsNdakz"
